<html>

<head>
  <title>Auditeur</title>
  <meta charset="utf-8" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
</head>

<body>
  <center>
    <p>
      <h2>Espace auditeur</h2></p>
    <p>
  </center>
  <p>
    <center>
      <h3>Données de la Blockchain</p>
  <table class="table table-bordered">
    <tr>
      <th>Adresse Client</th>
      <th>Client ID</th>
      <th>Pack</th>
      <th>Actions autorisées</th>
      <th>Actions effectuées par le fournisseur</th>
      <th>Transaction</th>
    </tr>
    <% if(dataBC.length){
    for(var i = 0;i < dataBC.length;i++) { %>
      <tr>
        <td>
          <%=dataBC[i].address%>
        </td>
        <td>
          <%=dataBC[i].id%>
        </td>
        <td>
          <%=dataBC[i].pack%>
        </td>
        <td>
          <%=dataBC[i].actions%>
        </td>
        <td>
          <%=dataBC[i].actionsDone%>
        </td>
        <td>
          <%=dataBC[i].tx%>
        </td>
      </tr>
      <% }
  }else{ %>
        <tr>
          <td>No users</td>
        </tr>
        <% } %>
  </table>
  <br>
  <p><center><h3>Base de données des clients</p>
  <table class="table table-bordered">
    <tr>
      <th>Client ID</th>
      <th>Packs</th>
      <th>Actions</th>
      <th>Nom et Prénom</th>
      <th>Email</th>
      <th>Sexe</th>
      <th>Téléphone</th>
      <th>Adresse</th>
      <th>Nationalité</th>
      <th>Statut Social</th>
      <th>Etat Civil</th>
    </tr>
    <% if(dataDB1.length){
    for(var i = 0;i < dataDB1[0].values.length;i++) { %>
      <tr>
        <td>
          <%=dataDB1[0].values[i][0]%>
        </td>
        <td>
          <%=dataDB1[0].values[i][1]%>
        </td>
        <td>
          <%=dataDB1[0].values[i][2]%>
        </td>
        <td>
          <%=dataDB2[0].values[i][1]%>
        </td>
        <td>
          <%=dataDB2[0].values[i][2]%>
        </td>
        <td>
          <%=dataDB2[0].values[i][3]%>
        </td>
        <td>
          <%=dataDB2[0].values[i][4]%>
        </td>
        <td>
          <%=dataDB2[0].values[i][5]%>
        </td>
        <td>
          <%=dataDB2[0].values[i][6]%>
        </td>
        <td>
          <%=dataDB2[0].values[i][7]%>
        </td>
        <td>
          <%=dataDB2[0].values[i][8]%>
        </td>
      </tr>
      <% }
  }else{ %>
        <tr>
          <td>No users</td>
        </tr>
        <% } %>
  </table>
</body>

</html>
